<?xml version="1.0"?>
<launch>
    <!-- args -->
    <arg name="gui" default="true" />
    <arg name="robot" default="hsrb4s" />

    <!-- load robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hsr_description)/robots/$(arg robot).urdf.xacro'" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- load displays -->
    <param name="use_gui" value="$(arg gui)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hsr_description)/launch/display.rviz"/>

</launch>
